<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    
    <script src="/js/app.js" defer></script>
    
    <title>Kalboby - Details Client</title>
  </head>
  <body>
    <input type="text" value="{{patient._id}}" id="patient_id" hidden>
    <div class="row">
      <div class="col">
        <br />
        <br />
        <h3>
          Owner's Data
          <i class="fas fa-user"></i>
        </h3>
        <br />
      </div>
      <div class="col">
        <br />
        <br />
        <button
          type="button"
          id="editHandlerBtn"
          class="btn btn-primary"
          onclick="editHandler()"
        >Open Edition</button>
        <br />
      </div>

    </div>
    {{! Owner's Data }}
    <div class="row row-cols-2">
      {{! Owenr's Name }}
      <div class="col">
        <div class="mb-3">
          <label for="owner" class="form-label font">Owenr's Name</label>
          <input
            type="text"
            class="form-control"
            id="owner"
            placeholder="Owner's Name"
            value="{{patient.owner_name}}"
            readonly
          />
        </div>
      </div>

      {{! Address }}
      <div class="col">
        <div class="mb-3">
          <label for="address" class="form-label font">Address</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Address"
            value="{{patient.address}}"
            readonly
          />
        </div>
      </div>

    </div>
    <div class="row row-cols-2">
      {{! regData }}
      <div class="col">

        <div class="mb-3">
          <label for="regDate" class="form-label font">Date </label>
          <input
            type="date"
            class="form-control"
            id="regDate"
            
            readonly
          />
        </div>
      </div>

      <div class="col">
        <div class="">
          <label for="phone" class="form-label font">Phone</label>
          <input
            type="number"
            class="form-control"
            id="phone"
            placeholder="Phone"
            value="{{patient.phone}}"
            readonly
          />
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="whatsapp"
              
              disabled
            />
            <label class="form-check-label" for="whatsapp">Whatsapp</label>
          </div>
        </div>

      </div>

    </div>
    <hr class="my-4" />

    {{! Pet Animal Data Heading }}
    <div class="row">
      <div class="col">
        <br />
        <h3>
          Pet Animal Data
          <i class="fas fa-paw"></i>
          <i class="fas fa-dog"></i>
        </h3>
        <br />
      </div>
    </div>

    {{! Pet's Data }}
    <div class="row row-cols-3">
      {{! Pets Name }}
      <div class="col">

        <div class="mb-3">
          <label for="petsName" class="form-label font">Pet Name</label>
          <input
            type="text"
            class="form-control"
            id="petsName"
            placeholder="Pet Name"
            value="{{patient.pet_name}}"
            readonly
          />
        </div>
      </div>
      {{! Pets Age }}
      <div class="col">
        <div class="mb-3">
          <label for="petAge" class="form-label font">Pet Age</label>
          <input
            type="text"
            class="form-control"
            id="petAge"
            placeholder="Pet Age"
            value="{{patient.pet_age}}"
            readonly
          />
        </div>
      </div>

      {{! Pets Weight }}
      <div class="col">
        <div class="mb-3">
          <label for="bodyWeight" class="form-label font">Weight</label>
          <input
            type="Number"
            class="form-control"
            id="bodyWeight"
            placeholder="Body Weight (KG)"
            value="{{patient.pet_weight}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="row row-cols-3">
      {{! Pets Type }}
      <div class="col">
        <label for="petType" style="margin-bottom: 9px;" class="font">
          Species
        </label>
        <select
          class="form-select"
          id="petType"
          disabled
        >
          <option value="">
            Select Species
          </option>

          <option value="Feline">
            Feline
          </option>
          <option value="Canine">
            Canine
          </option>

        </select>
      </div>
      {{! Breed }}
      <div class="col">
        <div class="mb-3">
          <label for="breed" class="form-label font">Breed</label>
          <input
            type="text"
            class="form-control"
            id="breed"
            placeholder="Pet Breed"
            value="{{patient.pet_breed}}"
            readonly
          />
        </div>
      </div>
      {{! Pets Color }}
      <div class="col">
        <div class="mb-3">
          <label for="color" class="form-label font">Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            placeholder="Pet Color"
            value="{{patient.pet_color}}"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="row row-cols-3">
      <div class="col" style="font-size: 16px; margin-top: 19px;">
        <label style="display: block; margin-right: 10px;">Gender</label>
        <div
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input
            class="form-check-input"
            type="radio"
            name="sex"
            id="female"
            checked
            disabled
          />
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>

        <div class="form-check" style="display: inline-block;">
          <input
            class="form-check-input"
            type="radio"
            name="sex"
            id="male"
            disabled
          />
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
      </div>

      <div class="col" style="font-size: 16px; margin-top: 19px;">
        <label
          style="display: block; margin-right: 10px;"
        >Natured/Spayed</label>
        <div
          onchange="checked()"
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="yes"
            disabled
          />
          <label class="form-check-label" for="yes">
            Yes
          </label>
        </div>
        <div
          onchange="unChecked()"
          class="form-check"
          style="display: inline-block; margin-right: 10px;"
        >
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="no"
            
            disabled
          />
          <label class="form-check-label" for="no">
            No
            <span style="font-size: 12px;">(Default)</span>
          </label>
        </div>
      </div>

      <div class="col" id="natured_date" style="margin-top: 30px;" >
        <div>
          {{! <label for="date" class="form-label font">Date</label> }}
          <input type="date" class="form-control" id="natDate" value="{{patient.pet_natured_date}}" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div
          class="form-floating"
          style="margin-top: 25px; margin-bottom: 25px;"
        >
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="medication"
            style="height: 100px;"
            readonly
          >
            {{patient.medication}}
          </textarea>
          <label for="medication">Medication</label>
        </div>
      </div>
    </div>

    <div class="row row-cols-2">
      <div class="col">
        <h5>Vaccination</h5>
        <br />
        <div>
          <div class="form-check" style="margin-top: -8px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="rabies"
              disabled
            />
            <label class="form-check-label font" for="rabies">
              Rabies Vaccine
            </label>
          </div>
          <br />
          <div class="form-check" style="margin-top: 11px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="combined"
              
              disabled
            />
            <label class="form-check-label font" for="combined">
              Combined Vaccine
            </label>
          </div>
          <br />
          <div class="form-check" style="margin-top: 11px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="deworming"
              disabled
            />
            <label class="form-check-label font" for="deworming">
              Deworming
            </label>
          </div>

          <div class="form-check" style="margin-top: 38px;">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="parasite"
              disabled
            />
            <label class="form-check-label font" for="parasite">
              External Parasite
            </label>
          </div>
        </div>

      </div>

      <div class="col">
        <h5>Date</h5>
        {{! <label for="date" class="form-label font">Date</label> }}
        <input
          type="date"
          class="form-control"
          id="rabiesDate"
          style="margin-top: 15px; min-height: 20px;"
          readonly
        />
        <br />
        <input
          type="date"
          class="form-control"
          id="combinedDate"
          value="2021-09-06"
          readonly
        />
        <br />
        <input type="date" class="form-control" id="dewormingDate" readonly />
        <br />
        <input type="date" class="form-control" id="parasiteDate" readonly />
      </div>
    </div>
    <br />

    <div class="row" style="margin-top: 20px;">
      <div class="col">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="comments"
            style="height: 100px; margin-bottom: 25px;"
            readonly
          >
            {{patient.comments}}
          </textarea>
          <label for="comments">Comments</label>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col">
        <div class="alert" role="alert" id="alertMessage" hidden>
          Success, Redirecting to home page.......
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <button
          type="submit"
          id="submitBtn"
          class="btn btn-primary"
          style="margin: 25px auto; display: flex; justify-content: center; width: 200px;"
          onclick="objectHandler()"
          hidden
        >Submit</button>
      </div>
    </div>
    <script src="/js/edit.js"></script>
  </body>

</html>